@import "base/_base";
@import "module/_modules";
@import "state/_state";
@import "external/_external";

//The following is DEMO-ONLY code, please delete and follow the CSS guidelines when developing a new project
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

tr {
  cursor: pointer;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $lightGrayBorder;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  margin-top:0.5em;
  border-top: 1px solid $lightGrayBorder;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $lightGrayBorder;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*** modal window ***/
#modalBackground {
  background: $modalBkgd;
  width:100%;
  height:100%;
  z-index:10;
  position: fixed;
  top:0;
  left:0;
}

#loading {
  width:50%;
  padding:1em 2em;
  background: $modal;
  text-align: center;
  position: fixed;
  z-index: 100;
  margin-left:-25%;
  top:25%;
  left:50%;
}

header {
  overflow: hidden;
  vertical-align: midde;
  margin-bottom:2em;

  p {
    clear:both;
  }
  label, .form-control, #btnSearch {
    float:left;
    margin-right:0.2em;
  }
  .form-control {
    width:75%;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}