<header>
    <form ng-submit="searchBees()">
        <label>Search beers:</label>
        <input ng-model="search" class="form-control" />
        <button ng-click="searchBeers()" class="btn" id="btnSearch">Search</button>
        <h2 ng-if="breweryTitle">Brewery: {{breweryTitle}}</h2>
    </form>
    <p ng-if="searching">searching...</p>
</header>
<p ng-if="noResults">{{ noResults }}</p>
<table id="beers" class="table table-hover" ng-if="beers">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Brewery</th>
        <th>Type</th>
        <th>abv</th>
        <th>ibu</th>
        <th>Organic</th>
    </tr>
    <tr ng-repeat="beer in beers" ng-click="getBeer(beer.id)">
        <td>
            <img ng-if="beer.labels.icon" src="{{beer.labels.icon}}" alt="{{beer.name}}"/>
        </td>
        <td>{{beer.name}}</td>
        <td>{{beer.breweries[0].name}}</td>
        <td>{{beer.style.name}}</td>
        <td>{{beer.abv}}</td>
        <td>{{beer.ibu}}</td>
        <td>{{beer.isOrganic}}</td>
    </tr>
    <tr ng-if="beers && paging">
        <td colspan="6">
            <button class="btn" ng-click="getMoreBeers()">Get More Beers</button> <label ng-if="fetching">Fetching more brews...</label>
        </td>
    </tr>
</table>