<p><a class="btn" ng-click="goBack()">Back</a></p>
<article ng-if="beer" class="beer">
    <h2>{{beer.name}}</h2>
    <p>by {{beer.breweries[0].name}}</p>
    <img src="{{beer.labels.medium}}" alt="{{beer.name}}"/>
    <p>{{beer.description}}</p>
    <ul>
        <li>Beer Type: {{beer.style.name}}</li>
        <li>abv: {{ beer.abv }}</li>
        <li>ibu: {{ beer.ibu }}</li>
        <li>Organic: {{beer.isOrganic }}</li>
    </ul>
    <p>Pour it in a {{beer.glass.name}} glass.</p>
</article>
