<h2>Breweries in DFW Area</h2>
<table id="breweries" class="table table-hover" ng-if="breweries">
    <tr>
        <th></th>
        <th>Name</th>
    </tr>
    <tr ng-repeat="b in breweries" ng-click="getBrewery(b.breweryId)">
        <td>
            <img ng-if="beer.labels.icon" src="{{beer.labels.icon}}" alt="{{b.brewery.name}}"/>
        </td>
        <td>{{b.brewery.name}}</td>
    </tr>
    <tr ng-if="showButton">
        <td colspan="6">
            <button class="btn" ng-click="getMoreBreweries()">Get More Breweries</button>
        </td>
    </tr>
</table>