<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="css/stylesheets/app.css"/>
</head>

<body ng-cloak ng-controller="BeerDayCtrl">
<div class="container" ng-cloak>
    <div class="header" ng-controller="BeerDayNavCtrl">
        <ul class="nav nav-pills pull-right">
            <li ng-repeat="button in navButtons" ng-class="{active: pathIsSelected(button.path)}">
                <a href="{{navPrefix}}{{button.path}}">{{button.label}}</a>
            </li>
        </ul>
        <h3 class="text-muted">{{appName}}</h3>
    </div>
    <div ng-view></div>

    <div class="footer"></div>
    <div id="modalBackground" ng-if="isLoading"></div>
    <div id="loading" ng-if="isLoading">Loading...</div>
</div>
<!-- /container -->
<script type="text/javascript" src="vendor/requirejs/js/require.js"></script>
<script type="text/javascript" src="main-demo.js"></script>
</body>
</html>
